// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#servicios {
	margin: 50px 0;
}

#servicios img {
	margin: 0 auto;
	display: block;
}

#servicios  p {
	text-align:justify;
}
